/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
h1,h2,h3,h4,h5,h6,p{
  font-family: 'Poppins', sans-serif !important;
}
p,label{
    font-family: 'Poppins', sans-serif !important;
    color:black !important;
}
label{
    font-weight:bold;
}
body{
    margin:0px; 
    padding:0px;
    box-sizing:border-box;
}


input[type=file] {
    padding: 10px;
    background: #2d2d2d;
}
.admission{
    background:url('../images/people-coffee-meeting-team-7096.jpg') no-repeat;
    background-position:center;
    background-size:cover;
}
.admission .overlay{
    background: rgba(0,0,0,0.5);
    padding: 100px 0px 100px 0px;
}
.admission .overlay h1{
    color:white;
    font-size:45px
    
}
.form-group label{
    font-size:13px !important;
}
@media screen and (min-width: 768px) {
    #desktop-form {
        display: block;
        
    }
    .navbar .navbar-header{
        display: flex;
    justify-content: space-between;
}

    #mobile-form {
        display: none;
    }
    .navbar-barnd img{
        max-height:40px !important
    }
}

@media screen and (max-width: 759px) {
    #desktop-form{
        display: none;
    }
    
    #mobile-form {
        display: block;
    }
    .navbar-brand img{
        height:40px;
    }
    footer .container{
        margin:auto;
    }
    .avatar-preview{
        justify-content:center;
    }
    .avatar-upload .avatar-edit input+label {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
        margin-right:20px;
    }
    .fa-plus{
        top:50%;
        left:50%;
        transform: translate(60%,50%);
    }
    .btn{
        margin-left:35% !important;
    }
    .form-control option{
        background-color:#3cb6ae !important;
        color:white;
        padding:5px !important; 
        width:100% !important;
        font-size:1em !important;
        overflow-x:hidden !important;
    }
    .person{
        margin-left:50px;
    }
    .btn-floating{
        margin:0px 50px 0px 0px;
    }
    .footer hr{
        margin-top:0px !important;
        margin-bottom:0px !important;
        padding-top:0px !important;
        padding-bottom:0px !important;
    }
}

body {
    background: whitesmoke;
    margin:0px;
    padding:0px;
}
.navbar-toggler-icon i{
    color:#3cb6ae !important;
}

.container {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 20px;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto 20px auto;
    
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 24px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input+label:after {
    content: "";
    font-size: 30px;
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    margin-top: -7px;
}
.fa-plus{
    top:50%;
    left:50%;
    transform: translate(60%,50%);
}
.avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 30px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:hover {
    background: #9faab7;
}



.option-input:checked::before {
    height: 30px;
    width: 30px;
    position: absolute;
    content: 'âœ”';
    display: inline-block;
    font-size: 20.66667px;
    text-align: center;
    line-height: 33px;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.offset-1{
    margin-top:0px !important;
    padding-top:0px !important;
}
.margin {
    height: 50px !important;
}
.navbar-brand{
    height:70px;
}
.nav-link{
    color:black;
}
footer{
    background-color:#152F4B !important;
    width:100% !important;
}
.footer-text h2,.footer-text p{
    color:white !important;
}

.footer-text img{
    width:100% !important;
    height:100% !important;
}
.border{
    border-top:1px solid white;
    width:90px;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background:#3cb6ae !important;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.footer-text ul li{
    list-style-type:none;
    text-align:left;
}
.footer-text ul li a{
    display:block;
    color:white;
    text-align:left;
    text-decoration:none;
    padding-top:15px;
}
.btn-floating{
    border-radius:50% !important;
    border:1px solid white;
    width:40px !important;
    height:40px !important;
    color:white !important;
    position:relative;
    margin-left:10px;
}
.btn-floating i{
    position: absolute;
    left:50% !important;
    top:50% !important;
    transform: translate(-50%, -50%);
}
.bottom-links p{
    padding:10px !important;
}
.btn{
    background-color: white !important;
    border-radius:50px !important;
    border:1px solid lightgray !important;
    color:#3cb6ae !important;
}
.btn:hover{
    background-color:lightgray !important;
    transition: all 0.6s;
    color:#80cfca !important;
}
.form-bg{
    background-image: url("..images/macro-photo-of-a-white-leaf-4590785.jpg") !important;
    width:100% !important;
    height:100% !important;
    background-repeat: no-repeat;
    opacity: 50;
    background-size:cover;
    position:center;
}
.footer-logo{
    width:200px !important;
}
.bottom-links{
    margin-top:-15px;
}
.border{
    border:1px solid lightgray;
    width:100%;
    height:100%;
}
.border label{
    font-size:15px !important;
    font-weight:600;
}
.terms ul li{
    list-style-type:none;
    font-weight:600;
}
.terms ul li i{
    color:#3cb6ae !important;
    /* font-size:20px; */
}
.btn-fb:hover{
    color:#4267B2 !important;
    cursor: pointer;
    transition:all 0.6s;
    border:1px solid #4267B2;
}
.btn-yt:hover{
    color:#c4302b !important;
    cursor: pointer;
    transition:all 0.6s;
    border:1px solid #c4302b;
}

/*haris*/

.container {
  margin-top: 20px;
}

.panel-heading {
  font-size: larger;
}

.alert {
  display: none;
}

/**
 * Error color for the validation plugin
 */
.error {
  color: #e74c3c !important;
}
.footer-img-width{
    display:none !important;
}