.elementor-53 .elementor-element.elementor-element-c609728>.elementor-container {
    min-height: 400px;
}

.elementor-53 .elementor-element.elementor-element-c609728:not(.elementor-motion-effects-element-type-background),
.elementor-53 .elementor-element.elementor-element-c609728>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/07/pexels-startup-stock-photos-7112-scaled.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-53 .elementor-element.elementor-element-c609728>.elementor-background-overlay {
    background-color: var(--e-global-color-616cc58);
    opacity: 0.56;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-c609728 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-53 .elementor-element.elementor-element-9cf97c7 {
    text-align: center;
}

.elementor-53 .elementor-element.elementor-element-9cf97c7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Bebas Neue", Sans-serif;
    font-size: 70px;
    font-weight: 600;
}

.elementor-53 .elementor-element.elementor-element-6cdc7fcc:not(.elementor-motion-effects-element-type-background),
.elementor-53 .elementor-element.elementor-element-6cdc7fcc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-6cdc7fcc>.elementor-background-overlay {
    background-color: var(--e-global-color-616cc58);
    opacity: 0.13;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-6cdc7fcc {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 90px 0px 90px 0px;
}

.elementor-53 .elementor-element.elementor-element-45c6089c {
    text-align: center;
}

.elementor-53 .elementor-element.elementor-element-45c6089c .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.elementor-53 .elementor-element.elementor-element-59772c43 {
    --spacer-size: 10px;
}

.elementor-53 .elementor-element.elementor-element-40df2723>.elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #eaeae9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    /* padding: 2em 2em 2em 2em; */
}

.elementor-53 .elementor-element.elementor-element-40df2723>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-688214a6 .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.elementor-53 .elementor-element.elementor-element-688214a6>.elementor-widget-container {
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #ff7f50;
}

.elementor-53 .elementor-element.elementor-element-802a8f2 {
    --spacer-size: 20px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group {
    padding-right: calc(24px/2);
    padding-left: calc(24px/2);
    margin-bottom: 11px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-form-fields-wrapper {
    margin-left: calc(-24px/2);
    margin-right: calc(-24px/2);
    margin-bottom: -11px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-labels-inline .elementor-field-group>label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-labels-inline .elementor-field-group>label {
    padding-right: 0px;
}

body .elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-labels-above .elementor-field-group>label {
    padding-bottom: 0px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group>label,
.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-subgroup label {
    color: #001c31;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group .elementor-field {
    color: var(--e-global-color-616cc58);
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #204A7503;
    border-color: #204A7570;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group .elementor-select-wrapper select {
    background-color: #204A7503;
    border-color: #204A7570;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-field-group .elementor-select-wrapper::before {
    color: #204A7570;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-button {
    font-family: "Poppins", Sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .e-form__buttons__wrapper__button-next {
    background-color: var(--e-global-color-616cc58);
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-button[type="submit"] {
    background-color: var(--e-global-color-616cc58);
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-button[type="submit"] svg * {
    fill: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .e-form__buttons__wrapper__button-next:hover {
    background-color: #212121;
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-button[type="submit"]:hover {
    background-color: #212121;
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-53 .elementor-element.elementor-element-7633e0a0 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-53 .elementor-element.elementor-element-10b4d80:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-53 .elementor-element.elementor-element-10b4d80>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7f7f7;
}

.elementor-53 .elementor-element.elementor-element-10b4d80>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 10px 0px 10px;
    --e-column-margin-right: 20px;
    --e-column-margin-left: 20px;
    padding: 2em 2em 2em 2em;
}

.elementor-53 .elementor-element.elementor-element-10b4d80>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-53 .elementor-element.elementor-element-192c812c .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.elementor-53 .elementor-element.elementor-element-192c812c>.elementor-widget-container {
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #ff7f50;
}

.elementor-53 .elementor-element.elementor-element-654b0907.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-616cc58);
}

.elementor-53 .elementor-element.elementor-element-654b0907.elementor-view-framed .elementor-icon,
.elementor-53 .elementor-element.elementor-element-654b0907.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-616cc58);
    color: var(--e-global-color-616cc58);
    border-color: var(--e-global-color-616cc58);
}

.elementor-53 .elementor-element.elementor-element-654b0907 {
    --icon-box-icon-margin: 12px;
}

.elementor-53 .elementor-element.elementor-element-654b0907 .elementor-icon {
    font-size: 24px;
    padding: 15px;
}

.elementor-53 .elementor-element.elementor-element-654b0907 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #204A75;
}

.elementor-53 .elementor-element.elementor-element-654b0907 .elementor-icon-box-title,
.elementor-53 .elementor-element.elementor-element-654b0907 .elementor-icon-box-title a {
    font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.elementor-53 .elementor-element.elementor-element-654b0907 .elementor-icon-box-description {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.elementor-53 .elementor-element.elementor-element-654b0907>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-616cc58);
}

.elementor-53 .elementor-element.elementor-element-7733cfd2.elementor-view-framed .elementor-icon,
.elementor-53 .elementor-element.elementor-element-7733cfd2.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-616cc58);
    color: var(--e-global-color-616cc58);
    border-color: var(--e-global-color-616cc58);
}

.elementor-53 .elementor-element.elementor-element-7733cfd2 {
    --icon-box-icon-margin: 12px;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2 .elementor-icon {
    font-size: 24px;
    padding: 15px;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2 .elementor-icon-box-title {
    margin-bottom: 10px;
    color: #204A75;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2 .elementor-icon-box-title,
.elementor-53 .elementor-element.elementor-element-7733cfd2 .elementor-icon-box-title a {
    font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2 .elementor-icon-box-description {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.elementor-53 .elementor-element.elementor-element-7733cfd2>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-141409fb {
    --spacer-size: 10px;
}

.elementor-53 .elementor-element.elementor-element-58661fef .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.elementor-53 .elementor-element.elementor-element-58661fef>.elementor-widget-container {
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #ff7f50;
}

.elementor-53 .elementor-element.elementor-element-4b83bb21 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 17px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
}

.elementor-53 .elementor-element.elementor-element-4b83bb21 .elementor-widget-container {
    text-align: left;
}

.elementor-53 .elementor-element.elementor-element-4b83bb21 .elementor-social-icon {
    background-color: var(--e-global-color-616cc58);
    --icon-padding: 0.6em;
}

.elementor-53 .elementor-element.elementor-element-4b83bb21 .elementor-social-icon i {
    color: var(--e-global-color-accent);
}

.elementor-53 .elementor-element.elementor-element-4b83bb21 .elementor-social-icon svg {
    fill: var(--e-global-color-accent);
}

.elementor-53 .elementor-element.elementor-element-29a4bbd6 {
    --spacer-size: 10px;
}

.elementor-53 .elementor-element.elementor-element-544838c9 {
    --divider-border-style: solid;
    --divider-color: #204A755E;
    --divider-border-width: 1px;
}

.elementor-53 .elementor-element.elementor-element-544838c9 .elementor-divider-separator {
    width: 100%;
}

.elementor-53 .elementor-element.elementor-element-544838c9 .elementor-divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-53 .elementor-element.elementor-element-65223388 .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.elementor-53 .elementor-element.elementor-element-65223388>.elementor-widget-container {
    padding: 0px 0px 0px 15px;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: #ff7f50;
}

.elementor-53 .elementor-element.elementor-element-261ba0a8 {
    padding: 2em 0em 0em 0em;
}

.elementor-53 .elementor-element.elementor-element-bf72448>.elementor-element-populated {
    padding: 1em 2em 1em 1em;
}

.elementor-53 .elementor-element.elementor-element-7b99c082 {
    text-align: left;
}

.elementor-53 .elementor-element.elementor-element-7b99c082 .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 0.91em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1px;
}

.elementor-53 .elementor-element.elementor-element-7b99c082>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-53 .elementor-element.elementor-element-43885d29 {
    text-align: left;
}

.elementor-53 .elementor-element.elementor-element-43885d29 .elementor-heading-title {
    color: var(--e-global-color-616cc58);
    font-family: "Poppins", Sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.6em;
}

.elementor-53 .elementor-element.elementor-element-aa53387 iframe {
    height: 324px;
    filter: brightness(102%) contrast(96%) saturate(68%) blur(0px) hue-rotate(344deg);
}

.elementor-53 .elementor-element.elementor-element-5a99f84f {
    --spacer-size: 30px;
}

:root {
    --page-title-display: none;
}

@media(max-width:1024px) {
    .elementor-53 .elementor-element.elementor-element-688214a6 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-192c812c .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-58661fef .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-65223388 .elementor-heading-title {
        font-size: 1.5em;
    }
}

@media(min-width:768px) {
    .elementor-53 .elementor-element.elementor-element-40df2723 {
        width: 66.696%;
    }

    .elementor-53 .elementor-element.elementor-element-10b4d80 {
        width: 33.304%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-53 .elementor-element.elementor-element-40df2723 {
        width: 50%;
    }

    .elementor-53 .elementor-element.elementor-element-10b4d80 {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-53 .elementor-element.elementor-element-45c6089c {
        text-align: center;
    }

    .elementor-53 .elementor-element.elementor-element-45c6089c .elementor-heading-title {
        font-size: 2em;
    }

    .elementor-53 .elementor-element.elementor-element-688214a6 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-192c812c .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-58661fef .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-4b83bb21 .elementor-widget-container {
        text-align: center;
    }

    .elementor-53 .elementor-element.elementor-element-4b83bb21 {
        --icon-size: 14px;
    }

    .elementor-53 .elementor-element.elementor-element-65223388 .elementor-heading-title {
        font-size: 1.5em;
    }

    .elementor-53 .elementor-element.elementor-element-43885d29 {
        text-align: justify;
    }
}